# Python Assignment Day 2

In [9]:
# Question 1
# Create 2 list with some brand names

brand_lst1 = ['Nike', 'Addidas', 'LG', 'Apple', 'Microsoft', 'Nestle']
brand_lst2 = ['Tesla', 'Microsoft', 'Western Digital', 'Adidas', 'Nestle', 'Samsung']

brand_lst1, brand_lst2

(['Nike', 'Addidas', 'LG', 'Apple', 'Microsoft', 'Nestle'],
 ['Tesla', 'Microsoft', 'Western Digital', 'Adidas', 'Nestle', 'Samsung'])

In [10]:
# Question 2
# List of overlapping brand names in both lists

lset = set(brand_lst1) & set(brand_lst2)
for i in lset:
  print(i)

Microsoft
Nestle

In [11]:
# Question 3
# Print even numbers starting with 20 and ending with 40

for i in range(20, 41):
  if i%2==0:
    print(i, end=" ")

20 22 24 26 28 30 32 34 36 38 40